[Desktop Entry]
Version=1.0
Name=GWeatherRouting
Exec=gweatherrouting
Icon=gnome-globe
StartupNotify=true
Terminal=false
Type=Application
Categories=Navigation
Keywords=Navigation
