[Unit]
Description=Start Graphical interface
After=graphical.target systemd-user-sessions.service

[Service]
User=user
WorkingDirectory=/home/user
PAMName=login
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_CURRENT_DESKTOP=Budgie:GNOME
#TTYPath=/dev/tty7
#StandardInput=tty
UnsetEnvironment=TERM
#UtmpIdentifier=tty7
UtmpMode=user
#ExecStartPre=/usr/bin/chvt 7
ExecStartPre=+-/usr/local/sbin/twofing-detect
StandardOutput=journal
Type=simple
ExecStart=/bin/bash -l -c startx
RestartSec=500ms
Restart=always

[Install]
WantedBy=graphical.target
