[Unit]
Description=pypilot web

[Service]
Type=simple
WorkingDirectory=/home/pypilot
ExecStart=pypilot_web 8080
User=pypilot
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target