[Unit]
Description=pypilot boatimu
DefaultDependencies=false
Conflicts=pypilot@pypilot.service

[Service]
Type=simple
WorkingDirectory=/home/pypilot
ExecStart=pypilot_boatimu -q
User=pypilot
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=local-fs.target
