[Unit]
Description=pypilot
Conflicts=pypilot_boatimu.service
#Before=avnav.service mopidy.service

[Service]
Type=simple
WorkingDirectory=/home/pypilot
ExecStart=pypilot
User=%i
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
