[Unit]
Description=pypilot detect
DefaultDependencies=false
ConditionPathExists=/proc/device-tree/hat/custom_0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=pypilot_detect
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=local-fs.target
