[Unit]
Description=Victron Venus WebUI

[Service]
Type=simple
ExecStart=/bin/sh -c 'cd /usr/share/venus-app; serve -l 8000'

[Install]
WantedBy=multi-user.target
