[Unit]
Description=Victron

[Service]
Type=simple
ExecStart=/bin/sh -c 'cd /usr/share/venus-html5-app; pnpm run start'

[Install]
WantedBy=multi-user.target
