[Desktop Entry]
Name=Terminal Weather
GenericName=Terminal Weather
Comment=Terminal Weather
Exec=lxterminal -e 'curl wttr.in; read -p "Press any key..."'
Icon=gnome-globe
Terminal=false
Type=Application
Categories=WWW;Internet
Keywords=weather
